@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
}

body {
  background-image: url("../../public/images/bg.png");
  background-size: cover;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
}
.left-container,
.right-container {
  flex-basis: 50%;
}
.left-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  grid-gap: 2rem;
}

.card {
  width: 300px;
  background-color: rgba(241, 234, 234, 0.904);
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.card:hover {
  background-color: rgba(172, 138, 138, 0.904);
}

.right-container {
  width: 50%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  right: 10px;
}
.right-container img {
  margin: 1rem;
  height: 190px;
}

.right-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: black;
  color: aliceblue;
  border-radius: 2rem;
  width: 30%;
}
.abilities {
  margin-right: 2rem;
  align-items: center;
  margin-top: 1rem;
}
.abilities .group {
  background-color: rgb(49, 39, 39);
  color: white;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  margin: 1rem;
}
.btn-group {
  display: flex;
}
.btn-group button {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgba(48, 15, 15, 0.253);
  border-radius: 8px;
}
.btn-group button:hover{
    background-color: black;
}
.types {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding-top: 3rem;
}

.main {
  width: 360px;
  margin-top: 1rem;
  margin-left: 12rem;
  height: 560px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: aliceblue;
  border-style: dashed ;
}

.stats {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1rem;
}
